{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Django</h1>
    <p class="lead">Django - это бесплатная веб-платформа для создания отличных веб-сайтов и веб-приложений с использованием HTML, CSS и JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Начало работы</h2>
        <p>
           Django дает вам мощный, основанный на шаблонах способ создания динамических веб-сайтов, которые
           обеспечивает четкое разделение проблем и дает вам полный контроль над разметкой для приятной
           и быстрой разработки.
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Получить больше библиотек</h2>
        <p>Индекс пакетов Python - это хранилище программного обеспечения для языка программирования Python.</p>
        <p><a class="btn btn-default" href="https://pypi.org/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>Вы можете легко опубликовать в Microsoft Azure с помощью Visual Studio. Узнайте, как разместить свое приложение с помощью бесплатной пробной версии сегодня.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
